
img.hover-opaque:hover {
    opacity: 0.3;
}

h3.bottom-low {
    margin-top: 30px;
    margin-bottom: 10px;
}

/*#tag-line {
    font-style: italic
}*/

p {
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: 10px;
}

#example {
    margin-bottom: 50px;
}


.profile-image {
    float:right;
    padding-top: 80px
}

ul {
    list-style-type: none;
}

h1 {
    color:#E56128;
}

h3 {
   color: #E56128;
}

nav {
    display: inline;
     width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;

}

nav li a:hover {
      color: #c00;
      background-color: #fff; }

ul {
    margin-left: -40px;
}

.contact {
    padding-top: 30px;
}

.page-header {
    margin-left: -15px;
}

#tagline {
    font-weight: 300;
    color: #E56128;

}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 75%;
    width: 100%;
}

.head {
    color: black;
}

.project-title {
    font-size: 1.5em;
  font-weight: 700;
}

.org-title {
    font-size: 1em;
    font-weight: 300;

}

#myNavbar {
    background-color: #FFFFFF;
}

#myNavbar ul li a:hover {
    color:  #E56128;
}

 #myNavbar .navbar-nav > .active{
    color: #000;
    background: #d65c14;
 }

#myNavbar .navbar-nav > .active > a,
#myNavbar .navbar-nav > .active > a:hover,
#myNavbar .navbar-nav > .active > a:focus {
    color:  #E56128;
    background: #DDDDDD;
    font-weight: bold;
}

.bolded {
    font-weight: bold;
}
 .footer {
     text-align: left;
     padding-top: 8px;

 }
